@media screen and (max-width:1000px){
    body{
        background-color: red;
        flex-direction: column;
        color: aqua;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content:center;
    }
}